<!-- Include Header -->
  <%- include('include/_header') %>
<!-- /Include Header -->

<!-- Main Site -->
<main id="site-main">
  <div class="container">

    <form class="" action="" method="GET">
      <div class="form-group">
        <label for="availability" class="text-light">Any hypersensitivity? </label>
        <div class="inline">
          <input type="text" name="hypersensitivity" value=""
          />
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn text-dark update">Filter</button>
      </div>
    </form>

    <!-- Menu Body -->
    <div class="container">
      <table class="table">
        <thead>
          <h2 class="menu-category">Appetizers</h2>
        </thead>
        <tbody>
          <%- include('include/_menuitems') %>
        </tbody>
      </table>

      <table class="table">
        <thead>
          <h2 class="menu-category">Main</h2>
        </thead>
        <tbody>
          <%- include('include/_menuitems') %>
        </tbody>
      </table>

      <table class="table">
        <thead>
          <h2 class="menu-category">Salads</h2>
        </thead>
        <tbody>
          <%- include('include/_menuitems') %>
        </tbody>
      </table>

      <table class="table">
        <thead>
          <h2 class="menu-category">Dessert</h2>
        </thead>
        <tbody>
          <%- include('include/_menuitems') %>
        </tbody>
      </table>
    </div>

    <div class="box-nav d-flex justify-between">
      <a href="/" class="border-shadow">
        <span class="text-gradient"
          >Admin Access  <i class="fa-brands fa-vaadin"></i>
        </span>
      </a>
    </div>
  </div>
</main>
<!-- /Main Site -->

<!-- Include Footer -->
  <%- include('include/_footer') %>
<!-- /Include Footer -->
