<!-- Include Header -->
  <%- include('include/_header') %>
<!-- /Include Header -->

<!-- Main Site -->
<main id="site-main">
  <div class="container">

    <form id="hypersensitivities_filter" class="" action="" method="GET">
      <div class="form-group">
        <label for="allergens" class="text-light">Any hypersensitivities?</label>
        <div class="">
          <div class="radio inline">
            <input
              type="checkbox"
              id="radio-milk"
              name="allergens"
              value="Milk"
            />
            <label for="radio-milk" class="radio-label">Milk</label>
          </div>
          <div class="radio inline">
            <input
              type="checkbox"
              id="radio-eggs"
              name="allergens"
              value="Eggs"
            />
            <label for="radio-eggs" class="radio-label">Eggs</label>
          </div>
          <div class="radio inline">
            <input
              type="checkbox"
              id="radio-fish"
              name="allergens"
              value="Fish"
            />
            <label for="radio-fish" class="radio-label">Fish</label>
          </div>
          <div class="radio inline">
            <input
              type="checkbox"
              id="radio-shellfish"
              name="allergens"
              value="Shellfish"
            />
            <label for="radio-shellfish" class="radio-label">Shellfish</label>
          </div>
          <div class="radio inline">
            <input
              type="checkbox"
              id="radio-treenuts"
              name="allergens"
              value="Tree-Nuts"
            />
            <label for="radio-treenuts" class="radio-label">Tree Nuts</label>
          </div>
          <div class="radio inline">
            <input
              type="checkbox"
              id="radio-peanuts"
              name="allergens"
              value="Peanuts"
            />
            <label for="radio-peanuts" class="radio-label">Peanuts</label>
          </div>
          <div class="radio inline">
            <input
              type="checkbox"
              id="radio-wheat"
              name="allergens"
              value="Wheat"
            />
            <label for="radio-wheat" class="radio-label">Wheat</label>
          </div>
          <div class="radio inline">
            <input
              type="checkbox"
              id="radio-soy"
              name="allergens"
              value="Soy"
            />
            <label for="radio-Soy" class="radio-label">Soy</label>
          </div>
          <div class="radio inline">
            <input
              type="checkbox"
              id="radio-gluten"
              name="allergens"
              value="Gluten"
            />
            <label for="radio-gluten" class="radio-label">Gluten</label>
          </div>
          <div class="radio inline">
            <input
              type="checkbox"
              id="radio-sesame"
              name="allergens"
              value="Sesame"
            />
            <label for="radio-sesame" class="radio-label">Sesame</label>
          </div>
        </div>      
      </div>
      <div class="form-group">
        <button type="submit" class="btn text-dark update border-shadow">Filter</button>
      </div>
    </form>

    <!-- Menu Body -->
    <div class="container">
      <table class="table">
        <thead>
          <h2 class="menu-category">Appetizers</h2>
        </thead>
        <tbody>
          <%- include('include/_menuappetizers') %>
        </tbody>
      </table>

      <table class="table">
        <thead>
          <h2 class="menu-category">Entrees</h2>
        </thead>
        <tbody>
          <%- include('include/_menuentrees') %>
        </tbody>
      </table>

      <table class="table">
        <thead>
          <h2 class="menu-category">Salads</h2>
        </thead>
        <tbody>
          <%- include('include/_menusalads') %>
        </tbody>
      </table>

      <table class="table">
        <thead>
          <h2 class="menu-category">Desserts</h2>
        </thead>
        <tbody>
          <%- include('include/_menudesserts') %>
        </tbody>
      </table>
    </div>

    <div class="box-nav d-flex justify-between">
      <a href="/" class="border-shadow">
        <span class="text-gradient"
          >Admin Access  <i class="fa-brands fa-vaadin"></i>
        </span>
      </a>
    </div>
  </div>
</main>
<!-- /Main Site -->

<!-- Include Footer -->
  <%- include('include/_footer') %>
<!-- /Include Footer -->
