<!-- Include Header -->
  <%- include('include/_header') %>
<!-- /Include Header -->

<!-- Main Site -->
<main id="site-main">
  <div class="container">
    <!-- Form Handling -->
    <form action="/" method="POST">
      <h2>Appetizers</h2>
      <table class="table">
        <tbody>
          <%- include('include/_menuitems') %>
        </tbody>
      </table>
      <h2>Main</h2>
      <table class="table">
        <tbody>
          <%- include('include/_menuitems') %>
        </tbody>
      </table>
      <h2>Salads</h2>
      <table class="table">
        <tbody>
          <%- include('include/_menuitems') %>
        </tbody>
      </table>
      <h2>Dessert</h2>
      <table class="table">
        <tbody>
          <%- include('include/_menuitems') %>
        </tbody>
      </table>
    </form>
    <div class="form-group">
      <label for="availability" class="text-light">Any hypersensibilities? </label>
      <div class="inline">
        <input type="text" name="hypersensibility" value=""
        />
      </div>
    </div>

    <div class="box-nav d-flex justify-between">
      <a href="/" class="border-shadow">
        <span class="text-gradient"
          >Admin Access  <i class="fa-brands fa-vaadin"></i>
        </span>
      </a>
    </div>
  </div>
</main>
<!-- /Main Site -->

<!-- Include Footer -->
  <%- include('include/_footer') %>
<!-- /Include Footer -->
