<% for(var i =0; i < dishes.length; i++){ %>
<tr>
  <td>
    <%= i+1 %>
  </td>
  <td>
    <%= dishes[i].dish %>
  </td>
  <td>
    <%= dishes[i].category %>
  </td>
  <td>
    <%= dishes[i].description %>
  </td>
  <td>
    <%= dishes[i].ingredients %>
  </td>
  <td>
    $ <%= dishes[i].price %>
  </td>
  <td>
    <%= dishes[i].availability %>
  </td>
  <td>
    <a href="/update-dish?id=<%= dishes[i]._id %>" class="btn border-shadow update">
      <span class="text-gradient"
        ><i class="fas fa-pencil-alt"></i
      ></span>
    </a>
    <a class="btn border-shadow delete" data-id=<%= dishes[i]._id %>>
      <span class="text-gradient"
        ><i class="fas fa-times"></i
      ></span>
    </a>
  </td>
</tr>
<% } %>
